html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, footer, header, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

video {
  display: inline-block; }

img {
  border-style: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

a, article, body, div, footer, h1, h2, h3, h4, header, html, p, section {
  box-sizing: border-box; }

img {
  max-width: 100%; }

.cover {
  background-size: cover !important; }

.bg-center {
  background-position: 50%; }

.bg-center {
  background-repeat: no-repeat; }

.bb {
  border-bottom-style: solid;
  border-bottom-width: 1px; }

.b--near-white {
  border-color: #f4f4f4; }

.b--white-10 {
  border-color: rgba(255, 255, 255, 0.1); }

.cf:after, .cf:before {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

.db {
  display: block; }

.dt {
  display: table; }

.fl {
  float: left; }

.fl {
  _display: inline; }

.sans-serif {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif; }

.georgia {
  font-family: georgia,serif; }

.normal {
  font-weight: 400; }

.fw7 {
  font-weight: 700; }

.fw8 {
  font-weight: 800; }

.h5 {
  height: 16rem; }

.lh-solid {
  line-height: 1; }

.link {
  text-decoration: none; }

.link, .link:active, .link:focus, .link:hover, .link:link, .link:visited {
  -webkit-transition: color .15s ease-in;
  transition: color .15s ease-in; }

.link:focus {
  outline: 1px dotted currentColor; }

.mw7 {
  max-width: 48rem; }

.mw9 {
  max-width: 96rem; }

.w-50 {
  width: 50%; }

.w-100 {
  width: 100%; }

.white-60 {
  color: rgba(255, 255, 255, 0.6); }

.near-black {
  color: #111; }

.silver {
  color: #999; }

.moon-gray {
  color: #ccc; }

.white {
  color: #fff; }

.bg-dark-gray {
  background-color: #333; }

.bg-light-gray {
  background-color: #eee; }

.bg-white {
  background-color: #fff; }

.pa3 {
  padding: 1rem; }

.pa4 {
  padding: 2rem; }

.pb4 {
  padding-bottom: 2rem; }

.pb5 {
  padding-bottom: 4rem; }

.pt0 {
  padding-top: 0; }

.pt4 {
  padding-top: 2rem; }

.pv3 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.pv4 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.pv5 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.ph3 {
  padding-left: 1rem;
  padding-right: 1rem; }

.ph4 {
  padding-left: 2rem;
  padding-right: 2rem; }

.ml1 {
  margin-left: .25rem; }

.mb4 {
  margin-bottom: 2rem; }

.mt0 {
  margin-top: 0; }

.tr {
  text-align: right; }

.tc {
  text-align: center; }

.f2 {
  font-size: 2.25rem; }

.f3 {
  font-size: 1.5rem; }

.f5 {
  font-size: 1rem; }

.f6 {
  font-size: .875rem; }

.measure-wide {
  max-width: 34em; }

.center {
  margin-right: auto;
  margin-left: auto; }

.dim {
  opacity: 1; }

.dim, .dim:focus, .dim:hover {
  -webkit-transition: opacity .15s ease-in;
  transition: opacity .15s ease-in; }

.dim:focus, .dim:hover {
  opacity: .5; }

.dim:active {
  opacity: .8;
  -webkit-transition: opacity .15s ease-out;
  transition: opacity .15s ease-out; }

@media screen and (min-width: 30em) {

  .dtc-ns {
    display: table-cell; }

  .w-50-ns {
    width: 50%; }

  .pl4-ns {
    padding-left: 2rem; }

  .pr6-ns {
    padding-right: 8rem; }

  .pv4-ns {
    padding-top: 2rem;
    padding-bottom: 2rem; }

  .ph4-ns {
    padding-left: 2rem;
    padding-right: 2rem; }

  .ph5-ns {
    padding-left: 4rem;
    padding-right: 4rem; }

  .mb4-ns {
    margin-bottom: 2rem; }

  .mh4-ns {
    margin-left: 2rem;
    margin-right: 2rem; }

  .f1-ns {
    font-size: 3rem; }

  .f4-ns {
    font-size: 1.25rem; }

  .f5-ns {
    font-size: 1rem; }

  .v-mid-ns {
    vertical-align: middle; } }
@media screen and (min-width: 30em) and (max-width: 60em) {

  .pv4-m {
    padding-top: 2rem;
    padding-bottom: 2rem; }

  .ph4-m {
    padding-left: 2rem;
    padding-right: 2rem; }

  .ph5-m {
    padding-left: 4rem;
    padding-right: 4rem; }

  .f2-m {
    font-size: 2.25rem; }

  .f4-m {
    font-size: 1.25rem; } }
@media screen and (min-width: 60em) {

  .w-50-l {
    width: 50%; }

  .w-80-l {
    width: 80%; }

  .w-third-l {
    width: 33.33333%; }

  .pl5-l {
    padding-left: 4rem; }

  .pl6-l {
    padding-left: 8rem; }

  .pr5-l {
    padding-right: 4rem; }

  .pr6-l {
    padding-right: 8rem; }

  .pb6-l {
    padding-bottom: 8rem; }

  .pt5-l {
    padding-top: 4rem; }

  .pt6-l {
    padding-top: 8rem; }

  .pv4-l {
    padding-top: 2rem;
    padding-bottom: 2rem; }

  .pv5-l {
    padding-top: 4rem;
    padding-bottom: 4rem; }

  .pv6-l {
    padding-top: 8rem;
    padding-bottom: 8rem; }

  .ph5-l {
    padding-left: 4rem;
    padding-right: 4rem; }

  .ph6-l {
    padding-left: 8rem;
    padding-right: 8rem; }

  .f3-l {
    font-size: 1.5rem; }

  .f4-l {
    font-size: 1.25rem; }

  .f5-l {
    font-size: 1rem; }

  .truncate-l {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; } }
@media screen and (min-width: 60em) {
  .f1x-l {
    font-size: 2.5rem; } }
.bg-nearer-white {
  background-color: #F9F9F9; }

.post-list a.link {
  transition: all 0.2s ease-in-out; }

.post-list a:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transform: translate(0, -0.1em); }

.lh-extra {
  line-height: 1.8; }

video {
  max-width: 100%; }

.bg-vision6-navyblue {
  background-color: #242D3C; }

.bg-gourmetgarden-tan {
  background-color: #F0E8DE; }

.bg-go1-gray {
  background-color: #D3D9E3; }

@media screen and (min-width: 30em) {
  .h6-ns {
    height: 24rem; } }
