  <div id="form-modal" class="modal-hider">
    <h3 class="fw4 f3 serif">Send me a message</h3>
    <p class="mb4 f4-ns">Or email me at hello@jackhallahan.com</p>
    <form action="https://formspree.io/hello@jackhallahan.com"
      method="POST">
      <label class="mb2 db silver" for="name">Name</label>
      <input type="text" class="input-reset ba b--light-gray pa2 mb3 w-100 f4 br1 sans-serif " name="name" required><br />
      <label class="mb2 db silver" for="name">Email</label>
      <input type="email" class="input-reset ba b--light-gray pa2 mb3 w-100 f4 br1 sans-serif" name="_replyto" required><br />
      <label class="mb2 db silver" for="name">Message</label>
      <textarea class="input-reset ba b--light-gray pa2 mb3 w-100 f4 br1 sans-serif" name="message"></textarea><br />
      <input type="text" name="_gotcha" style="display:none" />
      <input type="hidden" name="_next" value="/thankyou.html" />
      <input type="submit" value="Send" class="bg-near-black white w-100 input-reset pa3 bn dim pointer sans-serif">
    </form>
  </div>
