<footer class="bg-dark-gray ph5-l ph4 pv6-l pv4 silver">
  <p class="mw8x f6 center fw5">Jack Hallahan</p>
  <p class="mw8x f6 center">Contact — <a class="silver dim" href="#form-modal" rel="modal:open" alt="Send me an email">email</a>, <a class="silver dim" href="{{ site.twitter_url }}" alt="View my Twitter profile">twitter</a>, <a class="silver dim" href="{{ site.dribbble_url }}" alt="View my Dribbble profile">dribbble</a><p>
  <p class="mw8x f6 center">London, England<p>
  {% include contactform.html  %}

</footer>
<!-- Modal scripts-->
<div class="modal">
  <div class="modal-inner ph4 pt3 pb4 br2-ns measure w-100 bg-white">
    <a rel="modal:close" class="f3 dim silver">✕</a>
    <div class="modal-content"></div>
  </div>
</div>
<script src="/js/modal.js"></script>
<script>const modalForm = new VanillaModal();</script>
