
//Fonts
.sans-serif{
  font-family: "franklin-gothic-urw",
                -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif
}

.serif{
  font-family: "leitura-news",
              georgia,
               times,
               serif
}

//Header font just a bit too big

@media screen and (min-width: 60em){
  .f1x-l{
    font-size: 2.5rem;
  }
}

//We need a lighter-gray!

.bg-nearer-white{
  background-color: #F9F9F9;
}

//An inbetween max-width

.mw8x{
  max-width:80rem;
}


//List of Posts Box shadow on hover

.post-list a.link{
  transition: all 0.2s ease-in-out;
}

.post-list a:hover{
}

//Get thumbnails to show in color on hover


.post-list a:hover img{
  filter:none;
}

//Extra line-height

.lh-extra{
  line-height: 1.8;
}

//Videos need some basic styling
video{
  max-width:100%;
}

//Colors{
.bg-vision6-navyblue{
  background-color: #242D3C;
}

.bg-gourmetgarden-tan{
  background-color: #F0E8DE;
}

.bg-go1-gray{
  background-color: #D3D9E3;
}

@media screen and (min-width: 30em){
  .h6-ns{
    height: 24rem;
  }

  .h7-ns{
    height: 32rem;
  }

}


//better underlines - white background

.better-underline{
    transition: box-shadow 0.2s ease, text-shadow 0s 0.2s;
}

a:hover .better-underline, a.better-underline:hover{
  box-shadow: inset 0 -1px 0 0;
  text-shadow:
    -2px -2px white,
    -2px 2px white,
    2px -2px white,
    2px 2px white;
  transition: box-shadow 0.2s ease, text-shadow 0s 0s;
}

//modal
body.vanilla-modal .modal-hider {
  position: absolute;
  left: -99999em;
}

.modal {
  display: none;
}

.vanilla-modal .modal {
  display: block;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s, z-index 0s 0.2s;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.vanilla-modal .modal > * {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
}

.vanilla-modal .modal:before {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.vanilla-modal.modal-visible .modal {
  z-index: 99;
  opacity: 1;
  transition: opacity 0.2s;
}

.modal-inner {
  position: relative;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: -1;
  opacity: 0;
  transform: translate(0, 2rem);
  transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
}
.modal-visible .modal-inner {
  z-index: 100;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s, transform 0.2s;
}

a[rel="modal:close"] {
  position: absolute;
  z-index: 2;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  text-align: center;
}
