---
layout: default
---
<article class="post">

  {% if page.headerimage %}

  <header class="post-header pv6-l pv4 cover white bg-center mb5-ns mb4" style="background-image: url({{ site.baseurl }}/assets/{{ page.headerimage }})">
    <div class="mw8x center">
      <div class="mh4">
        <h1 class="f1-ns f2">{{ page.title }}</h1>
        <h4 class="serif normal f3-ns f4 fw3">{{ page.teaser }}</h2>
      </div>
    </div>
  </header>

  {% else %}

  <header class="post-header pv4 center fw5 mw8x mb4" style="color: {{ page.headercolor }}">
    <div class="mh4">
      <h1 class="f1-ns f2">{{ page.title }}</h1>
      <h4 class="serif normal f3-ns f4 fw3 near-black">{{ page.teaser }}</h2>
    </div>
  </header>

  {% endif %}



    {{ content }}


</article>

<div class="bg-dark-gray ph5-l ph4 pv6-l pv4 bb b--white-10">
<div class="mw8x center f6 cf">
<section class="w-50 fl">
  <p><a class="link silver dim" href="{{ site.baseurl }}/">←  Back</a></p>


</section>

<div class="w-50 fl tr">
{% if page.previous.url %}
  <p><a class="link silver dim" href="{{page.previous.url}}">Next Project: {{page.previous.title}}  →</a><p>
{% endif %}
</div>
</div>
</div>
