---
layout: default
---
<article class="post">

  {% if page.headerimage %}

  <header class="post-header pv6-l pv4 ph6-l ph5-m ph4 cover white bg-center" style="background-image: url({{ site.baseurl }}/assets/{{ page.headerimage }})">
    <h1 class="f1-ns f2">{{ page.title }}</h1>
    <h4 class="georgia normal f4-ns f5">{{ page.teaser }}</h2>
  </header>

  {% else %}

  <header class="post-header pv5-l pv4 ph6-l ph5-m ph4 cover white bg-center" style="background-color: {{ page.headercolor }}">
    <h1 class="f1-ns f2">{{ page.title }}</h1>
    <h4 class="georgia normal f4-ns f5 white-60">{{ page.teaser }}</h2>
  </header>

  {% endif %}

  <section class="bg-nearer-white pv5-l pv4 ph6-l ph5-m ph4 cf">
    <div class="fl w-third-l w-100">
      <h3 class="f5-ns f6 normal">{{ page.metainfo1title }}</h3>
      <h4 class="f5-ns f6 normal silver">{{ page.metainfo1text }}</h4>
    </div>
    <div class="fl w-third-l w-100">
      <h3 class="f5-ns f6 normal">{{ page.metainfo2title }}</h3>
      <h4 class="f5-ns f6 normal silver">{{ page.metainfo2text }}</h4>
    </div>
    <div class="fl w-third-l w-100">
      <h3 class="f5-ns f6 normal">{{ page.metainfo3title }}</h3>
      <h4 class="f5-ns f6 normal silver">{{ page.metainfo3text }}</h4>
    </div>
  </section>

  <div class="pt6-l pt4">
    {{ content }}
  </div>

</article>

<section class="bg-dark-gray ph5-l ph4 pv6-l pv4 bb b--white-10">
  <p class="mw7 center f6"><a class="link silver dim" href="{{ site.baseurl }}/">⟵ Back</a></p>
</section>
